*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/support/testnode.pid
test/tmp
test/version_tmp
tmp
.idea/*
.rvmrc
log/crate.log
crate_test_server.*
crate-*.tar.gz
parts/

.byebug_history
